<h1 class="title1">Sport Cars</h1>  
  <table id="t01">
    <tr>
      <th>Car Manufacturer</th>
      <th>Car Model</th>
      <th>Country of Origin</th>
      <th>Image</th>
    </tr>
    <% @sport_cars.each do |sport_car| %>
    <tr>
       <td> Manufacturer:<%= sport_car.manufacturer %></td>
       <td>Model:<%= sport_car.model %></td>
       <td>Country_of_Origin<%= sport_car.origin_country %></td>
       <td><img src="<%= sport_car.image %>"></td>
    </tr>
   <% end %>
  </table>



