<h1 class="title"> Sport Car </h1>
<img src = "<%= @sport_car.image %>"" alt= "Ferrari">
<h3 class="mnfct">Car Manufacturer: <%= @sport_car.manufacturer %></h3>
<h3 class="mdl">Car Model: <%= @sport_car.model%></h3>
<h3 class="orgn"> Country of Origin: <%= @sport_car.origin_country%><h3>

