<h1 class="title"> Sport Car </h1>
<img src = "<%= @car1.image %>"" alt= "Ferrari">
<h3 class="mnfct">Car Manufacturer: <%= @first_car.manufacturer %></h3>
<h3 class="mdl">Car Model: <%= @first_car.model%></h3>
<h3 class="orgn"> Country of Origin: <%= @first_car.origin_country%><h3>

